<html>

<head>
    <title>bolchal.ml</title>

    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
</head>

<body>
    <div id="app">

        <!-- PROFILE -->
        <span v-if="display=='profile'">
            <div class="topArea">
                <div class="userImageArea">
                    <img src="https://images.freeimages.com/images/large-previews/664/friend-skateboarding-1171981.jpg"
                        class="userImage">
                    <h2>{{selectedUser}}</h2>
                    <h3>Date joined: --/--/----</h3>
                </div>
                <div class="createPost">
                    <h2>Create Post</h2>
                    <textarea v-model="newPost" rows="4" cols="50" class="postInput"></textarea>
                    <v-btn color="white" class="postButton">POST</v-btn>
                </div>
                <div class="settings">
                    <i class="fas fa-sign-out-alt"></i><br>
                    <i class="fas fa-cog"></i><br>
                    <i class="fas fa-home" @click="display='home'"></i><br>
                    <i class=" fas
                        fa-user-alt" @click="display='profile'"></i>
                </div>
            </div>

            <div class="midArea">
                <div class="userBioArea">
                    {{selectedBio}}
                </div>
                <div class="profilePostViewArea">
                    <div v-for="i in likes" class="post">
                        <img src="https://images.freeimages.com/images/large-previews/664/friend-skateboarding-1171981.jpg"
                            class="postUserImage">
                        <h3>{{selectedUser}}</h3>
                        <h5>01-05-2018</h5>
                        <div class="postContent">
                            <h4>Haina hola ni</h4>
                        </div>
                        <div class="postOptions">
                            {{likeCount}}<i class="fas fa-thumbs-up likeButton"></i>
                            <i class="fas fa-comment-alt commentButton"></i>({{commentCount}})&nbspView comments
                        </div>
                    </div>
                </div>
            </div>
        </span>


        <!-- HOME -->
        <span v-if="display=='home'">
            <div class="topArea">
                <div class="userImageArea">
                    <img src="https://images.freeimages.com/images/large-previews/664/friend-skateboarding-1171981.jpg"
                        class="userImage">
                    <h2>{{selectedUser}}</h2>
                    <h3>Date joined: --/--/----</h3>
                </div>
                <div class="createPost">
                    <!-- <h2>Create Post</h2>
                        <textarea v-model="newPost" rows="4" cols="50" class="postInput"></textarea>
                        <v-btn color="white" class="postButton">POST</v-btn> -->
                </div>
                <div class="settings">
                    <i class="fas fa-sign-out-alt"></i><br>
                    <i class="fas fa-cog"></i><br>
                    <i class="fas fa-home" @click="display='home'"></i><br>
                    <i class=" fas
                            fa-user-alt" @click="display='profile'"></i>
                </div>
            </div>

            <div class="midArea">
                <div class="userBioArea">
                    {{selectedBio}}
                </div>
                <div class="homePostViewArea">
                    <div v-for="i in likes" class="post">
                        <img src="https://images.freeimages.com/images/large-previews/664/friend-skateboarding-1171981.jpg"
                            class="postUserImage">
                        <h3>{{selectedUser}}</h3>
                        <h5>01-05-2018</h5>
                        <div class="postContent">
                            <h4>Haina hola ni</h4>
                        </div>
                        <div class="postOptions">
                            {{likeCount}}<i class="fas fa-thumbs-up likeButton"></i>
                            <i class="fas fa-comment-alt commentButton"></i>({{commentCount}})&nbspView comments
                        </div>
                    </div>
                </div>
            </div>
        </span>

        <div class="footerArea">
            &copybolchal.ml
        </div>
    </div>
</body>

<script src="/static/index.js"></script>
<link rel="stylesheet" href="/static/styles/style.css">

</html>